<nav class=" navbar navbar-expand-lg navbar-light fabrilHeader" *ngIf="isLoggedIn$">
    <span style="font-size:30px; cursor:pointer; margin-left: 15px;" (click)="openNav()"
        [ngClass]="{'mySidenav.style.width': variable}" [style.marginLeft]="variable"> &#9776; Fabril</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-cog"></i>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;"></ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="../../../../assets/images/logo/user-svg.svg" width="35" height="35" alt="Profile"
                        class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{ nombreUsuario }}</span>
                </a>
                <!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>{{nombreUsuario}}</h6>
                        <span>Ing. Software</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="onLogout()">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Cerrar sesion</span>
                        </a>
                    </li>
                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->
        </ul>
    </div>
</nav>

<div id="mySidenav" class="sidenav" [style.width.px]="navbarOpen ? 350 : 0">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">Menú &times; </a>

    <div *ngFor="let item of menus" class="test nav navbar-nav d-md-down-none">

        <li *ngIf="item.redirectTo" auto-hide="false" class="animated fadeIn " (click)="closeNav()">
            <a [routerLink]="item.redirectTo" routerDirection="root" routerLinkActive="active">
                <i class="fa fa-caret-right" aria-hidden="true"></i> {{ item.name}}</a>
        </li>

        <!-- VALIDA QUE LA LINEA TENGA SUB-MENU NIVEL 1-->
        <div *ngIf="item.children?.length > 0">
            <li (click)="item.open = !item.open" [class.active-parent]="item.open" detail="false" auto-hide="false"
                class="animated fadeIn">
                <a>
                    <i *ngIf="!item.open" class="fa fa-plus" aria-hidden="true"></i>
                    <i *ngIf="item.open" class="fa fa-minus" aria-hidden="true"></i> {{ item.name }}</a>
            </li>
        </div>


        <div *ngIf="item.open" class="animated fadeInLeft">
            <ul class="animated fadeIn nav navbar-nav " *ngFor="let sub of item.children " data-toggle="collapse">
                <li class="nav-item px-3">
                    <a *ngIf="sub.redirectTo" (click)="closeNav()" [routerLink]="sub.redirectTo" routerDirection="root"
                        routerLinkActive="active">
                        <i class="fa fa-caret-right" aria-hidden="true"></i> {{ sub.name }}
                    </a>
                </li>
                <li class="nav-item px-3">
                    <a *ngIf="sub.children?.length > 0" (click)="sub.open = !sub.open" [class.active-parent]="sub.open"
                        class="animated fadeIn">
                        <i *ngIf="!sub.open" class="fa fa-plus" aria-hidden="true"></i>
                        <i *ngIf="sub.open" class="fa fa-minus" aria-hidden="true"></i> {{ sub.name }}
                    </a>
                    <div *ngIf="sub.open" class="animated fadeInLeft">
                        <ul class="animated fadeIn nav navbar-nav" data-toggle="collapse">
                            <li *ngFor="let sub1 of sub.children " class="nav-item px-3" (click)="closeNav()">
                                <a (click)="closeNav()" [routerLink]="sub1.redirectTo" routerDirection="root"
                                    routerLinkActive="active">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i> {{sub1.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="perfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div> -->