<app-card [innTemplate]="enviarTemplateArbol" titulo="Estructura Menu">
</app-card>
<ng-template #enviarTemplateArbol>
    <div class="row">
        <div class="col-md-7 float-right">
            <h3>- {{descripcionMenuSuperior}}</h3>
            <ul>
                <h4>- {{descripcionMenuSuperiorNivel2}}</h4>
                <ul>
                    <li *ngFor="let item of rowData">
                        <h5>{{item.descripcion}}</h5>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</ng-template>

<app-card *ngIf="!mostrarFormulario" [innTemplate]="enviarTemplate" titulo="Nivel 3 ({{descripcionMenuSuperior}} --> {{descripcionMenuSuperiorNivel2}})">
</app-card>
<ng-template #enviarTemplate>
    <div class="row">
        <div class="col-md-6">
            <button class="{{diccionarioModulo.button.buttonsCss.danger}}" (click)="goNivel2()">{{diccionarioModulo.button.buttonsNombre.regresar}}</button>
        </div>
        <div class="col-md-6">
            <button id="abrirModal" class="{{diccionarioModulo.button.buttonsCss.success}}" (click)="nuevoMostrarModal()">{{diccionarioModulo.button.buttonsNombre.nuevo}}</button>
        </div>
    </div>
    <br>

    <ag-grid-angular [floatingFilter]="true" class="{{diccionarioModulo.agGrid.class}}" #agGrid [ngStyle]="diccionarioModulo.agGrid.style" id="{{diccionarioModulo.agGrid.id}}" paginationPageSize="{{diccionarioModulo.agGrid.paginacion}}" [pagination]="true"
        [frameworkComponents]="frameworkComponents" [columnDefs]="columnDefs" [rowSelection]="rowSelection" [rowData]="rowData" (gridReady)="onGridReady($event)">
    </ag-grid-angular>

</ng-template>


<app-card *ngIf="mostrarFormulario" [innTemplate]="enviarTemplateFormulario" titulo="Agregar/Actualizar Registro">

</app-card>
<ng-template #enviarTemplateFormulario>
    <form [formGroup]="formulario" novalidate class="form-group">
        <div class="row">
            <div class="col-md-4">
                <app-input [control]="formulario.get(modelo.descripcion)" [placeholder]="'Menu'" formControlName="{{modelo.descripcion}}" [label]="'Menu Nivel 2*'" [type]="'text'" [id]="'menuN2'">
                </app-input>
            </div>
            <div class="col-md-4">
                <app-combo-box (change)="changeAplicacion($event.target)" [opcion]="'application'" [idOpcion]="'application'" [habilitar]="cmbDisabled" [comboBox]="cmbListAplicacion" formControlName="application" [control]="formulario.get('application')" [label]="'Aplicacion'"
                    [id]="'aplicacion'"></app-combo-box>
            </div>
            <div class="col-md-4">
                <app-combo-box [opcion]="'descripcion'" [idOpcion]="'id'" [comboBox]="cmbSesion" formControlName="sesionId" [control]="formulario.get('sesionId')" [label]="'Sesión'" [id]="'sesionId'"></app-combo-box>
            </div>
        </div>
        <br>
        <app-grid-botones [formularioValido]="formulario.invalid" (devolverAccion)="acciones ( $event )" [textBoton]="textBoton"></app-grid-botones>
        <!-- <button [disabled]="formulario.invalid" class="{{diccionarioModulo.button.buttonsCss.success}}">{{diccionarioModulo.button.buttonsNombre.guardar}}</button> -->
    </form>
</ng-template>
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->