.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fdca3f;
    color: black;
    text-align: center;
    color: #808080;
    text-decoration-color: #000;
 }

 .footer-min{
    padding: 6px !important;
 }