<div id="idfooter" class="navbar-expand footer">
    <div class="footer-copyright text-center py-3 footer-min"> <b> © 2022 Copyright: </b>
        <a href="https://www.lafabril.com.ec/en/home/"> www.lafabril.com.ec</a>
    </div>
</div>