<div class="row col-md-12 animated fadeInRight" *ngIf="!mostrarFormulario">

    <div class="row col-md-12 animated fadeInRight" *ngIf="!mostrarMenu">
        <h2 class="container float-left">MANTENER MENÚ</h2>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <input class="form-control float-left " placeholder="Buscar.. " [(ngModel)]="textoBuscar " id="quickFilter " (keyup)="onQuickFilterChanged() " #quickFilter/>
                </div>
                <div class="col-md-3">
                    <button (click)="nuevo()" [ngClass]="{'float-right': true, 'mx-3': true}" class={{DAT_BTNCSS.success}}>{{DAT_BTNS.agregarCampo}}</button>
                </div>
            </div>
        </div>
        <ag-grid-angular
        class="{{diccionarioModulo.agGrid.class}}" 
        #agGrid
        [ngStyle] = "diccionarioModulo.agGrid.style"
        id="{{diccionarioModulo.agGrid.id}}"
        paginationPageSize ="{{diccionarioModulo.agGrid.paginacion}}"
        [pagination]="true"

        [frameworkComponents]="frameworkComponents " 
        [columnDefs]="columnDefs " 
        [rowSelection]="rowSelection" 
        [rowData]="rowData " 
        (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>



<div class="row animated fadeInRight" *ngIf="mostrarFormulario">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>MANTENER MENÚ</strong>
            </div>
            <div class="card-body">
                <form [formGroup]="formulario" novalidate class="form-group">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6 col-lg-4" *ngIf="hide">
                            <app-input [placeholder]="'Id'" [label]="'Id'" [id]="'id'" formControlName="id" [control]="formulario.get('id')"></app-input>
                        </div>
                        <div class="form-group col-sm-12 col-md-6 col-lg-4">
                            <app-input [placeholder]="'Descripcion'" [label]="'Descripcion'" [id]="'descripcion'" formControlName="descripcion" [control]="formulario.get('descripcion')"></app-input>
                        </div>
                        <div class="form-group col-sm-6 col-md-6 col-lg-4">
                            <app-combo-box [opcion]="'descripcion'" [idOpcion]="'id'" [comboBox]="cmbNivel" formControlName="nivelId" [control]="formulario.get('nivelId')" [label]="'Nivel'" [id]="'nivelId'" (ngModelChange)="demo()"></app-combo-box>
                        </div>
                        <div class="form-group col-sm-12 col-md-6 col-lg-4">
                            <app-combo-box [opcion]="'descripcion'" [idOpcion]="'id'" [habilitar]="cmbDisabled" [comboBox]="cmbMenuSuperior" formControlName="menuSuperior" [control]="formulario.get('menuSuperior')" [label]="'Menú Superior'" [id]="'menuSuperior'"></app-combo-box>
                        </div>
                        <div class="form-group col-sm-6 col-md-6 col-lg-4">
                            <app-combo-box [opcion]="'descripcion'" [idOpcion]="'id'" [habilitar]="cmbDisabled1" [comboBox]="cmbSesion" formControlName="sesionId" [control]="formulario.get('sesionId')" [label]="'Sesión'" [id]="'sesionId'"></app-combo-box>
                        </div>

                    </div>
                    <app-grid-botones [formularioValido]="formulario.invalid" (devolverAccion)="acciones ( $event )" [textBoton]="textBoton"></app-grid-botones>
                </form>
            </div>
        </div>
    </div>
</div>