<nav class="navbar navbar-expand-lg fabrilHeader">
    <!-- *ngIf="isLoggedIn | async as isLoggedIn" -->
    <a class="navbar-brand fabrilHeader" href="#"> <b>Fabril</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse fabrilHeader" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- <a class="navbar-brand " href="#">FABRIL</a> -->
            <li class="nav-item " routerLinkActive="active">
                <a class="navbar-brand fabrilHeader" [routerLink]="['/']"><b> Notificaciones </b></a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <!-- <input class="form-control mr-sm-2"  placeholder="Search" aria-label="Search" (keyup.enter)="buscar(buscarTexto.value)" #buscarTexto>
          <button (click)="buscar(buscarTexto.value)"
           class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button> -->
        </form>
    </div>
</nav>