<div class="row animated fadeInRight" *ngIf="mostrarFormulario">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Rol por sesion</strong>
            </div>
            <div class="card-body">
                <form [formGroup]="formulario" novalidate class="form-group">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <app-combo-box [opcion]="'descripcion'" [idOpcion]="'id'" [habilitar]="cmbDisabled" [comboBox]="cmbListRol" formControlName="rolId" [control]="formulario.get('rolId')" [label]="'Rol'" [id]="'idRol'"></app-combo-box>
                        </div>
                        <div class="form-group col-md-4">
                            <app-combo-box (change)="changeAplicacion($event.target)" [opcion]="'application'" [idOpcion]="'application'" [habilitar]="cmbDisabled" [comboBox]="cmbListAplicacion" formControlName="application" [control]="formulario.get('application')" [label]="'Aplicacion'"
                                [id]="'aplicacion'"></app-combo-box>
                        </div>
                        <div class="form-group col-md-4">
                            <app-combo-box [opcion]="'descripcion'" [idOpcion]="'id'" [habilitar]="cmbDisabled" [comboBox]="cmbListSesion" formControlName="sesionId" [control]="formulario.get('sesionId')" [label]="'Sesion'" [id]="'idSesion'"></app-combo-box>
                        </div>
                    </div>
                    <app-grid-botones [formularioValido]="formulario.invalid" (devolverAccion)="acciones ( $event )" [textBoton]="textBoton"></app-grid-botones>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row col-md-12 animated fadeInRight" *ngIf="!mostrarFormulario">
    <h2 class="container float-left">Lista de roles por sesion</h2>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <input class="form-control float-left " placeholder="Buscar.. " [(ngModel)]="textoBuscar " id="quickFilter " (keyup)="onQuickFilterChanged() " #quickFilter/>
            </div>
            <div class="col-md-3">
                <button (click)="nuevo()" [ngClass]="{'float-right': true}" class={{DAT_BTNCSS.success}}>{{DAT_BTNS.agregarRol}}</button>
            </div>
        </div>
    </div>
    <ag-grid-angular class="{{diccionarioModulo.agGrid.class}}" #agGrid [ngStyle]="diccionarioModulo.agGrid.style" id="{{diccionarioModulo.agGrid.id}}" paginationPageSize="{{diccionarioModulo.agGrid.paginacion}}" [pagination]="true" [frameworkComponents]="frameworkComponents "
        [columnDefs]="columnDefs " [rowSelection]="rowSelection " [rowData]="rowData " (gridReady)="onGridReady($event) ">
    </ag-grid-angular>
</div>