<app-card [innTemplate]="enviarTemplate" [titulo]="'Nivel 1'">
</app-card>

<ng-template #enviarTemplate>
    <form [formGroup]="formulario" novalidate class="form-group">
        <div class="row">
            <div class="col-md-6">
                <app-input [control]="formulario.get(modelo.menuSuperior)" [placeholder]="'Menu'" formControlName="{{modelo.menuSuperior}}" [label]="'Menu*'" [type]="'text'" [id]="'menu'">
                </app-input>
            </div>
            <div class="col-md-6">
                <label>&nbsp;</label>
                <button [disabled]="formulario.invalid" class="{{diccionarioModulo.button.buttonsCss.success}}" (click)="NuevoMenuNivel1()">{{diccionarioModulo.button.buttonsNombre.agregar}}</button>
            </div>
        </div>
    </form>
    <ag-grid-angular [floatingFilter]="true" class="{{diccionarioModulo.agGrid.class}}" #agGrid [ngStyle]="diccionarioModulo.agGrid.style" id="{{diccionarioModulo.agGrid.id}}" paginationPageSize="{{diccionarioModulo.agGrid.paginacion}}" [pagination]="true"
        [frameworkComponents]="frameworkComponents" [columnDefs]="columnDefs" [rowSelection]="rowSelection" [rowData]="rowData" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</ng-template>