<app-menu *ngIf="mostrarPlantilla"> </app-menu>
<div class="container-fluid zoom">
    <div *ngIf="usuarioLogeado" id="mycontainer" class="container">
        <router-outlet></router-outlet>
    </div>
</div>
<br><br>
<app-footer *ngIf="mostrarPlantilla" padding class="footer"></app-footer>