<div [class]="classefecto">
    <!-- Inicio card -->
    <div class="card border-success">
        <div class="card-header">
            <div id="paginacion">
                <span class="izquierda">
                    <h3><strong>{{titulo}}</strong></h3>
                  
                </span>
                <span class="derecha">
                    <div *ngIf="banderaColapse">
                        <a  href="#{{colapseName}}"  data-toggle="collapse" (click)="cambiar()"> 
                            <h1>{{this.simbolo}}</h1>
                        </a>
                    </div>
                    <!-- <app-options *ngIf="options" (devolverAccion)="devolverAccionOption($event)"></app-options> -->
                    <!-- <app-options-export *ngIf="optionsExport" (devolverAccionExport)="devolverAccionOptionExport($event)"></app-options-export> -->
                </span>
            </div>
        </div>
        <div id="{{colapseName}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <ng-container *ngTemplateOutlet="innTemplate">
                    <ng-template #innTemplate>
                    </ng-template>
                </ng-container>
            </div>
        </div>

        <div *ngIf="footer" class="card-footer text-muted">
            <ng-container *ngTemplateOutlet="innFooterTemplate">
                <ng-template #innFooterTemplate>
                </ng-template>
            </ng-container>
        </div>
    </div>
    <!-- fin card -->
</div>
<br>
<!-- fin Container  -->