<app-card [innTemplate]="enviarTemplateArbol" titulo="Estructura Menu">
</app-card>
<ng-template #enviarTemplateArbol>
    <div class="row">
        <div class="col-md-12">
            <h4>- {{descripcionMenuSuperior}}</h4>
            <ul>
                <li *ngFor="let item of rowData">
                    <h5>{{item.descripcion}}</h5>
                    <ul>
                        <li>Agregar Nivel 3 ?</li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--  <div class="col-md-8">
            <div class="col-md-7 float-right">
               
            </div>
        </div> -->
    </div>
</ng-template>
<app-card [innTemplate]="enviarTemplate" titulo="Nivel 2 ({{descripcionMenuSuperior}})">
</app-card>
<ng-template #enviarTemplate>
    <form [formGroup]="formulario" novalidate class="form-group">

        <div class="row">
            <div class="col-md-6">
                <app-input [control]="formulario.get(modelo.descripcion)" [placeholder]="'Menu'" formControlName="{{modelo.descripcion}}" [label]="'Menu Nivel 2*'" [type]="'text'" [id]="'menuN2'">
                </app-input>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <button class="{{diccionarioModulo.button.buttonsCss.danger}}" (click)="goNivel1()">{{diccionarioModulo.button.buttonsNombre.regresar}}</button>
            </div>
            <div class="col-md-6">
                <!-- <label>&nbsp;</label> -->
                <button [disabled]="formulario.invalid" class="{{diccionarioModulo.button.buttonsCss.success}}" (click)="NuevoMenuNivel2()">{{diccionarioModulo.button.buttonsNombre.agregar}}</button>
            </div>
        </div>
        <br>

    </form>
    <ag-grid-angular [floatingFilter]="true" class="{{diccionarioModulo.agGrid.class}}" #agGrid [ngStyle]="diccionarioModulo.agGrid.style" id="{{diccionarioModulo.agGrid.id}}" paginationPageSize="{{diccionarioModulo.agGrid.paginacion}}" [pagination]="true"
        [frameworkComponents]="frameworkComponents" [columnDefs]="columnDefs" [rowSelection]="rowSelection" [rowData]="rowData" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</ng-template>