<app-lfsa-card-v2 *ngIf="!mostrarFormulario" [innTemplateButton]="innTemplateButton" [innTemplate]="enviarTemplate"
  [titulo]="'Eventos'" [modulo]="'TVC'" [tituloCard]="'Listar Eventos'">
</app-lfsa-card-v2>

<ng-template #innTemplateButton>
  <div class="col-md-6">
    <div class="pagetitle">
      <div class="btn-group-justified btn-group" style="float: right;">
        <a class="btn btn-outline-success" (click)="nuevo()">Nuevo Evento</a>
        <a class="btn btn-outline-warning btn-outline"><i class="far fa-file-excel"></i></a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #enviarTemplate>
  <section class="section">
    <div class="row">
      <div class="col-md-12 ">
        <app-lfsa-loading-v2 *ngIf="loading"></app-lfsa-loading-v2>
        <ag-grid-angular [frameworkComponents]="frameworkComponents " [floatingFilter]="true" *ngIf="!listaVacia"
          #agGrid style="width: 100%; height: 400px;" class="ag-theme-alpine" [rowData]="rowData"
          [columnDefs]="columnDefs" [rowSelection]="rowSelection" (gridReady)="onGridReady($event)" [pagination]="true"
          paginationPageSize="{{tvcModulo.agGrid.paginacion}}">
        </ag-grid-angular>
      </div>
    </div>
  </section>
</ng-template>

<app-lfsa-card-v2 *ngIf="mostrarFormulario" [innTemplate]="enviarTemplateFrom" [titulo]="'Eventos'" [modulo]="'TVC'"
  [tituloCard]="'Crear Eventos'">
</app-lfsa-card-v2>

<ng-template #enviarTemplateFrom>
  <form [formGroup]="formulario" novalidate class="form-group">

    <div class="row">
      <div class="form-group  col-md-6 ">
        <app-lfsa-input [claseLabel]="'letrasDanger'" [placeholder]="'Codigo'" [type]="'number'" [label]="'Código*'"
          [id]="'codigo'" formControlName="idEvento" [control]="formulario.get('idEvento')">
        </app-lfsa-input>
      </div>
      <div class="form-group col-md-6 ">
        <app-lfsa-input [claseLabel]="'letrasDanger'" [placeholder]="'Descripción'" [label]="'Descripción*'"
          [id]="'Descripcion'" formControlName="dsca" [control]="formulario.get('dsca')"></app-lfsa-input>
      </div>
    </div>

    <div class="row">
      <div class="form-group  col-md-6 ">
        <app-lfsa-combo-box [claseLabel]="'letrasDanger'" [opcion]="'valor'" [idOpcion]="'clave'"
          [comboBox]="cmbClasificacion" formControlName="clasificacion" [control]="formulario.get('clasificacion')"
          [label]="'Clasificacion*'" [id]="'clasificacion'">
        </app-lfsa-combo-box>
      </div>
      <div class="form-group  col-md-6 ">
        <app-lfsa-combo-box [claseLabel]="'letrasDanger'" [opcion]="'valor'" [idOpcion]="'clave'"
          [comboBox]="cmbTipoClasificacion" formControlName="tipoClasificacion"
          [control]="formulario.get('tipoClasificacion')" [label]="'Tipo Clasificacion*'" [id]="'tipoClasificacion'">
        </app-lfsa-combo-box>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6 ">
        <app-lfsa-combo-box [claseLabel]="'letrasDanger'" [opcion]="'valor'" [idOpcion]="'clave'" [comboBox]="cmbTasa"
          formControlName="tasaGravedadFallo" [control]="formulario.get('tasaGravedadFallo')"
          [label]="'Tasa Gravedad de Fallos*'" [id]="'tasaGravedadFallo'"></app-lfsa-combo-box>
      </div>
    </div>

    <br>
    <app-lfsa-botones-formulario [formularioValido]="formulario.invalid" (devolverAccion)="acciones ( $event )"
      [textBoton]="textBoton"></app-lfsa-botones-formulario>

  </form>

</ng-template>