<!-- <div class="row col-md-12 animated fadeInRight" *ngIf="mostrarFormulario">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Aplicación</strong>
            </div>
            <div class="card-body">
                <form [formGroup]="formulario" novalidate class="form-group">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <app-lfsa-input [placeholder]="'Ingrese Aplicación'" [label]="'Aplicación'" [id]="'name'"
                                formControlName="application" [control]="formulario.get('application')">
                            </app-lfsa-input>
                        </div>
                    </div>
                    <app-lfsa-botones-formulario [formularioValido]="formulario.invalid"
                        (devolverAccion)="acciones ( $event )" [textBoton]="textBoton"></app-lfsa-botones-formulario>
                </form>
            </div>
        </div>
    </div>
</div> -->

<app-lfsa-card-v2 *ngIf="mostrarFormulario" [innTemplateButton]="innTemplateButtonForm"
    [innTemplate]="enviarTemplateForm" [titulo]="'Aplicacion'" [modulo]="'Admin Seguridad'"
    [tituloCard]="'Guardar Aplicacion'">
</app-lfsa-card-v2>

<ng-template #innTemplateButtonForm>
</ng-template>

<ng-template #enviarTemplateForm>
    <form [formGroup]="formulario" novalidate class="form-group">
        <div class="row">
            <div class="form-group col-md-6">
                <app-lfsa-input [placeholder]="'Ingrese Aplicación'" [label]="'Aplicación'" [id]="'name'"
                    formControlName="application" [control]="formulario.get('application')">
                </app-lfsa-input>
            </div>
        </div>
        <app-lfsa-botones-formulario [formularioValido]="formulario.invalid" (devolverAccion)="acciones ( $event )"
            [textBoton]="textBoton"></app-lfsa-botones-formulario>
    </form>
</ng-template>

<!-- <div class="row col-md-12 animated fadeInRight" *ngIf="!mostrarFormulario">
      <h2 class="container float-left">Lista de Aplicaciones</h2>
      <hr/>
      <div class="container">
          <div class="row">
              <div class="col-md-9">
                  <input class="form-control float-left " placeholder="Buscar.. " [(ngModel)]="textoBuscar " id="quickFilter " (keyup)="onQuickFilterChanged() " #quickFilter/>
              </div>
              <div class="col-md-3">
                  <button (click)="nuevo()" [ngClass]="{'float-right': true, 'mx-3': true}" class={{DAT_BTNCSS.success}}>{{DAT_BTNS.agregarAplicacion}}</button>
              </div>
          </div>
      </div>
      <ag-grid-angular class="{{diccionarioModulo.agGrid.class}}" [floatingFilter]="true" #agGrid [ngStyle]="diccionarioModulo.agGrid.style" id="{{diccionarioModulo.agGrid.id}}" paginationPageSize="{{diccionarioModulo.agGrid.paginacion}}" [pagination]="true" [frameworkComponents]="frameworkComponents"
          [columnDefs]="columnDefs" [rowSelection]="rowSelection" [rowData]="rowData" (gridReady)="onGridReady($event)">
      </ag-grid-angular>
  </div> -->

<app-lfsa-card-v2 *ngIf="!mostrarFormulario" [innTemplateButton]="innTemplateButtonAddAplicacion"
    [innTemplate]="enviarTemplate" [titulo]="'Aplicacion'" [modulo]="'Admin Seguridad'"
    [tituloCard]="'Listar Aplicaciones'">
</app-lfsa-card-v2>

<ng-template #innTemplateButtonAddAplicacion>
    <div class="col-md-6">
        <div class="pagetitle">
            <div class="btn-group-justified btn-group" style="float: right;">
                <a class="btn btn-outline-success" (click)="nuevo()">{{DAT_BTNS.agregarAplicacion}}</a>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #enviarTemplate>
    <ag-grid-angular class="{{diccionarioModulo.agGrid.class}}" [floatingFilter]="true" #agGrid
        [ngStyle]="diccionarioModulo.agGrid.style" id="{{diccionarioModulo.agGrid.id}}"
        paginationPageSize="{{diccionarioModulo.agGrid.paginacion}}" [pagination]="true"
        [frameworkComponents]="frameworkComponents" [columnDefs]="columnDefs" [rowSelection]="rowSelection"
        [rowData]="rowData" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</ng-template>