<img *ngIf="mostrarImg" [src]="rutaImagen" height="35" width="35" alt=""><label for={{id}} [class]="claseLabel">{{label}}</label>
<div class="input-group mb-3">
    <span *ngIf="type === 'email'" class="input-group-text" id="basic-addon1"><b>@</b></span>
    <span *ngIf="type === 'text'" class="input-group-text" id="basic-addon1"><b>abc</b></span>
    <span *ngIf="type === 'number'" class="input-group-text" id="basic-addon1"><b>123</b></span>
    <input [ngClass]="{'is-invalid': control.invalid && control.dirty, 'is-valid': control.valid}" [type]="type"
        class="form-control" [id]="id" [placeholder]="placeholder" [readonly]="!!isReadOnly" [(ngModel)]="value"
        required>
</div>
<app-lfsa-error-msg [control]="control" [label]="label"></app-lfsa-error-msg>