<div class="row animated fadeInRight" *ngIf="!mostrarFormulario">

    <!-- <div class="row col-md-12 animated fadeInRight" *ngIf="!mostrarSesion">
        <h2 class="container float-left">Lista de sesion</h2>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <input class="form-control float-left " placeholder="Buscar.. " [(ngModel)]="textoBuscar " id="quickFilter " (keyup)="onQuickFilterChanged() " #quickFilter/>
                </div>
                <div class="col-md-3">
                    <button (click)="nuevo()" [ngClass]="{'float-right': true, 'mx-3': true}" class={{DAT_BTNCSS.success}}>{{DAT_BTNS.agregarSesion}}</button>
                </div>
            </div>
        </div>
        <ag-grid-angular class="{{diccionarioModulo.agGrid.class}}" #agGrid [ngStyle]="diccionarioModulo.agGrid.style" id="{{diccionarioModulo.agGrid.id}}" paginationPageSize="{{diccionarioModulo.agGrid.paginacion}}" [pagination]="true" [frameworkComponents]="frameworkComponents "
            [columnDefs]="columnDefs " [rowSelection]="rowSelection " [rowData]="rowData " (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div> -->

    <app-lfsa-card-v2 *ngIf="!mostrarSesion" [innTemplate]="enviarTemplate" [innTemplateButton]="innTemplateButton"
        [titulo]="'Sesiones'" [modulo]="'Admin Seguridad'" [tituloCard]="'Listar Sesion'">
    </app-lfsa-card-v2>

    <ng-template #innTemplateButton>
        <div class="col-md-6">
            <div class="pagetitle">
                <div class="btn-group-justified btn-group" style="float: right;">
                    <a class="btn btn-outline-success" (click)="nuevo()">
                        <i class="fa fa-certificate"></i>
                        {{DAT_BTNS.agregarSesion}}</a>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #enviarTemplate>
        <ag-grid-angular class="{{diccionarioModulo.agGrid.class}}" #agGrid [ngStyle]="diccionarioModulo.agGrid.style"
            id="{{diccionarioModulo.agGrid.id}}" paginationPageSize="{{diccionarioModulo.agGrid.paginacion}}"
            [pagination]="true" [frameworkComponents]="frameworkComponents " [columnDefs]="columnDefs "
            [floatingFilter]="true" [rowSelection]="rowSelection " [rowData]="rowData "
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </ng-template>

    <app-lfsa-card-v2 *ngIf="mostrarSesion" [innTemplate]="enviarTemplateForm"
        [innTemplateButton]="innTemplateButtonForm" [titulo]="'Sesiones'" [modulo]="'Admin Seguridad'"
        [tituloCard]="'Roles'">
    </app-lfsa-card-v2>

    <ng-template #innTemplateButtonForm>
    </ng-template>

    <ng-template #enviarTemplateForm>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card border-success">
                    <div class="card-body">
                        <ag-grid-angular #agGrid style="width: 100%; height: 300px; " class="ag-theme-alpine mt-3"
                            [frameworkComponents]="frameworkComponents " [columnDefs]="columnDefsRol"
                            [floatingFilter]="true" [rowSelection]="rowSelection" [rowData]="rowDataRol"
                            (gridReady)="onGridReadyRol($event)">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card border-success">
                    <div class="card-body">
                        <form [formGroup]="formularioSesion" novalidate class="form-group">
                            <div class="row">
                                <div class="form-group col-12 col-md-12">
                                    <app-lfsa-combo-box [opcion]="'descripcion'" [idOpcion]="'id'"
                                        [comboBox]="cmbListRol" formControlName="rolId"
                                        [control]="formularioSesion.get('rolId')" [id]="'idRol'"></app-lfsa-combo-box>
                                </div>
                                <div class="form-group col-12 col-md-6" hidden="false">
                                    <app-lfsa-input [placeholder]="'Id'" [label]="'Id'" [id]="'id'"
                                        formControlName="sesionId" [control]="formularioSesion.get('sesionId')">
                                    </app-lfsa-input>
                                </div>
                            </div>
                            <app-lfsa-botones-formulario [formularioValido]="formularioSesion.invalid"
                                (devolverAccion)="accionesRol ( $event )" [textBoton]="DAT_BTNS.agregarRol">
                            </app-lfsa-botones-formulario>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <!-- <div class="col-sm-12 col-md-12 animated fadeInRight" *ngIf="mostrarSesion">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <strong>Rol por sesion</strong>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formularioSesion" novalidate class="form-group">
                            <div class="row">
                                <div class="form-group col-12 col-md-12">
                                    <app-lfsa-combo-box [opcion]="'descripcion'" [idOpcion]="'id'"
                                        [comboBox]="cmbListRol" formControlName="rolId"
                                        [control]="formularioSesion.get('rolId')" [id]="'idRol'"></app-lfsa-combo-box>
                                </div>
                                <div class="form-group col-12 col-md-6" hidden="false">
                                    <app-lfsa-input [placeholder]="'Id'" [label]="'Id'" [id]="'id'"
                                        formControlName="sesionId" [control]="formularioSesion.get('sesionId')">
                                    </app-lfsa-input>
                                </div>
                            </div>
                            <app-lfsa-botones-formulario [formularioValido]="formularioSesion.invalid"
                                (devolverAccion)="accionesRol ( $event )" [textBoton]="DAT_BTNS.agregarRol">
                            </app-lfsa-botones-formulario>
                        </form>
                    </div>
                    <ag-grid-angular #agGrid style="width: 100%; height: 300px; " class="ag-theme-material mt-3"
                        [frameworkComponents]="frameworkComponents " [columnDefs]="columnDefsRol"
                        [rowSelection]="rowSelection" [rowData]="rowDataRol" (gridReady)="onGridReadyRol($event)">
                    </ag-grid-angular>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div> -->
</div>

<app-lfsa-card-v2 *ngIf="mostrarFormulario" [innTemplate]="enviarTemplateEdit" [innTemplateButton]="innTemplateButtonEdit"
    [titulo]="'Sesiones'" [modulo]="'Admin Seguridad'" [tituloCard]="'Guardar Sesion'">
</app-lfsa-card-v2>

<ng-template #innTemplateButtonEdit>
</ng-template>

<ng-template #enviarTemplateEdit>
    <form [formGroup]="formulario" novalidate class="form-group">
        <div class="row">
            <div class="form-group col-md-4">
                <app-lfsa-combo-box [opcion]="'application'" [idOpcion]="'application'" [comboBox]="cmbAplicacion"
                    formControlName="application" [control]="formulario.get('application')" [label]="'Aplicacion*'"
                    [id]="'aplicacion'">
                </app-lfsa-combo-box>
            </div>
            <div class="form-group col-md-4">
                <app-lfsa-input [placeholder]="'Descripcion'" [label]="'Descripcion'" [id]="'descripcion'"
                    formControlName="descripcion" [control]="formulario.get('descripcion')">
                </app-lfsa-input>
            </div>
            <div class="form-group col-md-4">
                <app-lfsa-input [placeholder]="'Codigo Sesion'" [label]="'Codigo Sesion'" [id]="'codSesion'"
                    formControlName="codSesion" [control]="formulario.get('codSesion')"></app-lfsa-input>
            </div>
        </div>
        <app-lfsa-botones-formulario [formularioValido]="formulario.invalid" (devolverAccion)="acciones ( $event )"
            [textBoton]="textBoton"></app-lfsa-botones-formulario>
    </form>
</ng-template>

<!-- <div class="row animated fadeInRight" *ngIf="mostrarFormulario">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Sesion</strong>
            </div>
            <div class="card-body">
                <form [formGroup]="formulario" novalidate class="form-group">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <app-lfsa-combo-box [opcion]="'application'" [idOpcion]="'application'"
                                [comboBox]="cmbAplicacion" formControlName="application"
                                [control]="formulario.get('application')" [label]="'Aplicacion*'" [id]="'aplicacion'">
                            </app-lfsa-combo-box>
                        </div>
                        <div class="form-group col-md-4">
                            <app-lfsa-input [placeholder]="'Descripcion'" [label]="'Descripcion'" [id]="'descripcion'"
                                formControlName="descripcion" [control]="formulario.get('descripcion')">
                            </app-lfsa-input>
                        </div>
                        <div class="form-group col-md-4">
                            <app-lfsa-input [placeholder]="'Codigo Sesion'" [label]="'Codigo Sesion'" [id]="'codSesion'"
                                formControlName="codSesion" [control]="formulario.get('codSesion')"></app-lfsa-input>
                        </div>
                    </div>
                    <app-lfsa-botones-formulario [formularioValido]="formulario.invalid"
                        (devolverAccion)="acciones ( $event )" [textBoton]="textBoton"></app-lfsa-botones-formulario>
                </form>
            </div>
        </div>
    </div>
</div> -->